/* CSS du projet EchoSounder*/

:root {
  /* palette de couleur */
  --background-color-black: #010b0d; /* var(--background-color-black) */
  --background-gradiance1 : #050c12; /* var(--background-gradiance1) */
  --background-gradiance2 : #0d1718; /* var(--background-gradiance2) */
  --widget-grey1: #bac9b0; /* var(--widget-grey1) */
  --widget-grey2: #767c7f; /* var(--widget-grey2) */
  --widget-grey3: #6f7978; /* var(--widget-grey3) */
  --widget-blue1 : #3e908e; /* var(--widget-blue1) */
  --widget-blue2 : #2b6b6a; /* var(--widget-blue2) */
  --widget-blue3 : #4b948c; /* var(--widget-blue3) */
  --widget-red1 : #5c202a; /* var(--widget-red1) */
  --widget-red2 : #371921; /* var(--widget-red2) */
  --text1 : #a5b0a9; /* var(--text1) */
  --text2 : #abd6db; /* var(--text2) */
  --micro-text : #11998e; /* var(--micro-text) */

  /* définition de taille */
  --height-header: 4vh; /* var(--height-header) */
};

/* configuration spécifique */

.ng-hide:not(.ng-hide-animate) {
  /* overriding pour cacher les mécanismes d'animations ngAnimate de base qui sont foireux */
  display: initial!important;
}
/* Import de police */
@font-face {font-family: "GuessSansW00-Medium"; src: url("fonts/title-font.ttf");  }
@font-face {font-family: "HackerArgot"; src: url("fonts/hackerargot.ttf");  } 
@font-face {font-family: "Hack"; src: url("fonts/Hack.ttf");  } 
  
/* règles CSS de base */
html {
  height: 100%;
  background-color: var(--background-color-black);
}
body {
  min-height: 100%;
  background-color: var(--background-color-black);
  background-image: linear-gradient(transparent 61px, rgba(75,148,140,0.3) 62px, transparent 62px),
                    linear-gradient(90deg, transparent 61px, rgba(75,148,140,0.3) 62px, transparent 62px);
  background-size: 100% 62px, 62px 100%;
  box-shadow: inset 0 0 200px 50px #010b0d;

  color: var(--text1);
  font-family: Hack !important;
}

/* CSS du header */
header {
  background: linear-gradient(to left, var(--background-gradiance1), var(--widget-blue2), var(--background-gradiance1));
  color: var(--text1);
  height: var(--height-header);
}

header > center{
  height: var(--height-header);
}

header > center > div {
  height: var(--height-header);
  font-size: calc(var(--height-header) / 1.2);
  display: ruby-text;
  font-family:'GuessSansW00-Medium';
}
header > center > div > img{
  height: calc(var(--height-header) / 1.2);
  margin-top: calc((var(--height-header) - var(--height-header) / 1.2) / 2);
}

.header_config_button {
  font-size: calc(var(--height-header) / 2.2);
  font-family: "Hack";
  border-width: 1px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  transition: all linear 0.2s;
}

.header_config_button:hover {
  background-color: var(--background-color-black);
  color: var(--text2);
}

.echo_menu_top {
  position: absolute;
  top: var(--height-header);
  left: 10%;
  width: 80%;

  z-index: 100;

  background-color: rgba(5, 12, 18, 0.6);
  border: 1px solid var(--widget-grey2);
  box-shadow: inset 0 0 40px -20px #bac9b0;
  transition: all linear 0.5s;
}

.echo_menu_top.ng-hide {
  top: -400px;
  opacity: 0;
}

.echo_menu_top_onglets {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.echo_menu_top_onglet_button {
  border-style: solid;
  border-width: 1px;
  border-color: var(--widget-blue3);
  transition: all linear 0.2s;
}

.echo_menu_top_onglet_button:hover {
  background-color: #11998e;
  color:#010b0d;
}

/* CSS du graph prenant toute la page */
#placeNetwork {
  position: relative;
  height: 96vh;
}

#mynetwork {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* CSS du panel de gauche */

.echo_panel_left {
  position: absolute;
  top: calc(62px * 3 );
  left: 0px;

  z-index: 100;
}

.echo_panel_openbutton_left {
  background: linear-gradient(to right, rgba(5, 12, 18, 0.25), rgba(186, 201, 176, 0.3) );
  border-right: 2px solid var(--widget-blue3);
}

.echo_menu_left {
  position: absolute;
  top: 0px;
  left: 62px;

  width: calc(100% * 12);

  background-color: rgba(5, 12, 18, 0.6);
  border: 1px solid var(--widget-grey2);
  box-shadow: inset 0 0 40px -20px #bac9b0;
  transition: all linear 0.5s;
}

.echo_menu_left.ng-hide {
  left: -400px;
  opacity: 0;
}

.echo_menu_left.ng-hide-add, .echo_menu_left.ng-hide-remove {
}

.echo_scan_cible {
  position: relative;
  margin-bottom: 10px;
}

.echo_input_effect {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.echo_input_effect::placeholder {
  color: transparent;
}
.echo_input_effect:placeholder-shown ~ .echo_input_effect_label {
  font-size: 1.3rem;
  cursor: text;
}

.echo_input_effect_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.6rem;
  color: #9b9b9b;
}

.echo_input_effect:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #4b948c, #4b948c);
  border-image-slice: 1;
}
.echo_input_effect:focus ~ .echo_input_effect_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.6rem;
  color: var(--micro-text);
}

.echo_scan_delete_ips {
  background-color: #010b0d;
}

.echo_ip_selected {
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 4px;
  background-image: linear-gradient(to left, #3e908e, #225757);
}

.echo_ip_selected > i {
  background-color: #010b0d;
  border-radius: 3px;
  transition: all linear 0.5s;
}

.echo_ip_selected > i:hover {
  background-color: #bac9b0;
  color:#0d1718;
}

.button_ip_delete_all {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  border-radius: 3px;
  background-image: linear-gradient(to left, #3e908e, #225757);
  transition: all linear 0.5s;
}


.button_ip_delete_all:hover {
  background-color: #bac9b0;
  color:#0d1718;
  background-image: linear-gradient(to left, #225757, #3e908e);
  box-shadow: rgba(43, 107, 106, 0.4) 0 8px 15px;
}

.menu_btn_left_1{
  background-image: url('img/icone/menu_left_icon_1.png') !important;
  background-size: cover;
}

.menu_btn_left_2{
  background-image: url('img/icone/menu_left_icon_2.png') !important;
  background-size: cover;
}
 
.menu_btn_left_3{
  background-image: url('img/icone/menu_left_icon_3.png') !important;
  background-size: cover;
}

/* reset input */
.echo_input_effect:required, .echo_input_effect:invalid {
  box-shadow: none;
}

.echo_scan_panel {
  display: contents;
}


/* CSS du panel de droite */

.echo_panel_right {
  position: absolute;
  top: calc(62px * 3);
  right: 0px;

  z-index: 100;
}

.echo_panel_openbutton_right {
  border-left: 2px solid var(--widget-blue3);
}

.echo_menu_right {
  position: absolute;
  top: 0px;
  right: 62px;
  width: calc(100% * 12);

  background-color: rgba(5, 12, 18, 0.8);
  border: 1px solid var(--widget-grey2);
  box-shadow: inset 0 0 40px -20px #bac9b0;

  transition: all linear 0.5s;
}

.echo_menu_right.ng-hide {
  right: -400px;
  opacity: 0;
}

.echo_node_data {
  word-wrap: anywhere; /* sans ça il y a un overflow bizarre du texte... */
  overflow-y: auto;
  max-height: 75vh;

}

/* CSS de panel de notification */

.echo_panel_notification {
  position: absolute;
  bottom: 0px;
  right: 0px;

  z-index: 100;
}

.echo_toast_list {

}

.echo_toast {
  text-align: center;
  padding: 2px;
  margin: 2px;
  border: 1px solid var(--widget-grey2);
  border-radius: 3px;
  opacity: 1;
}

.echo_toast.ng-enter {
  transition:all ease-in 1s;
  opacity: 0;
}

.echo_toast.ng-enter-active {
  opacity: 1;
}

/* styles des toast spécifiques (alerte, scan envoyé, scan reçu) */

.echo_toast_scan {
  border-color: var(--widget-blue2);
  background-color: rgba(43, 107, 106, 0.4);
}

.echo_toast_error {
  border-color: var(--widget-red1);
  background-color: rgba(92, 32, 42, 0.4);
}

.echo_toast_info {
  border-color: rgba(118, 124, 127);
  background-color: rgba(118, 124, 127, 0.4);
}

.menu_btn_right_1{
  background-image: url('img/icone/menu_right_icon_1.png') !important;
  background-size: cover;
}

.menu_btn_right_2{
  background-image: url('img/icone/menu_right_icon_2.png') !important;
  background-size: cover;
}

.menu_btn_right_3{
  background-image: url('img/icone/menu_right_icon_3.png') !important;
  background-size: cover;
}

/* CSS général de panel */

.echo_menu_title {
  text-align: center;
  border-bottom: var(--widget-blue3);
  border-bottom-style: solid;
  margin-bottom: 8px;
}

.echo_menu_right > pre {
  overflow: unset !important;
}

.echo_menu_subtitle {
  text-align: center;
  border-bottom: var(--widget-grey1);
  border-bottom-style: solid;
  margin-top: 8px;
  margin-bottom: 8px;
}

.echo_panel_openbutton {
  width: calc(62px/2);
  height: calc(61px/2);
  margin-bottom: calc(calc(61px/2) + 1px);
  transition: all 0.4s ease-out;
}

.echo_button_scan {
  margin: 6px;
  padding: 2px;
  border-radius: 1px;
  background-color: var(--widget-blue2);
  filter: opacity(80%);
}

.echo_to_hide {
  display: none;
}

/* CYTOSCAPE CLASS */



/** Ressources externes internalisés (ça veut dire "bouts de CSS copié collés d'ailleurs que de l'interne qui peuvent servir") **/

/* Hollow */
.hvr-hollow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 2px var(--widget-blue2), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-hollow:hover, .hvr-hollow:focus, .hvr-hollow:active {
  background: none;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(43, 107, 106, 0.75);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* Sweep To Left */
.hvr-sweep-to-left {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(43, 107, 106, 0.75);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}