<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset ="UTF-8">
  	<title>Calys</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vis.min.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vis-network.min.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='vis.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vis-network.min.js')}}"></script>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css')}}"></link>
  </head>
  <body id="backgroundquadrillage">
    <header>
      <center>Calys analyser</center>
    </header>

    <div id="mynetwork"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script>
  </body>
</html>
