<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset ="UTF-8">
  	<title>Echosounder</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='cytoscape.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='layout-base.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cose-base.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cytoscape-fcose.js')}}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='angular.min.js')}}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='angular-csp.min.css')}}"></link>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}"></link>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css')}}"></link>
  </head>
  <body id="backgroundquadrillage">
    <!-- barre de menu affichant juste le titre du logiciel -->
    <header>
      <center>Echosounder analyser</center>
    </header>

    <!-- panels de manipulation de gauche (bobo) -->
    <div class="echo_panel_left">
      <div class="echo_panel_openbutton echo_panel_openbutton_left"></div>
      <div class="echo_panel_openbutton echo_panel_openbutton_left"></div>
      <div class="echo_panel_openbutton echo_panel_openbutton_left"></div>
    </div>

    <!-- panels de manipulation de droite (facho) -->
    <div class="echo_panel_right">
      <div class="echo_panel_openbutton echo_panel_openbutton_right"></div>
      <div class="echo_panel_openbutton echo_panel_openbutton_right"></div>
      <div class="echo_panel_openbutton echo_panel_openbutton_right"></div>
    </div>

    <div id="placeNetwork" ng-controller="graphNetwork">
      <div id="mynetwork"></div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script>
  </body>
</html>
