<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset ="UTF-8">
  	<title>Calys</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vis.min.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vis-network.min.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='vis.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vis-network.min.js')}}"></script>
  </head>
  <body>
    <center><p>Calys analyser</p></center>

    <div id="mynetwork"></div>
    <style>
    html {
      height: 100%;
    }
    body {
      min-height: 100%;
    }

    #mynetwork {
      min-height: 100%;
    }
    </style>
    <script type="text/javascript">
      // fonctionnalités de gestion des appels d'API
      let request = new XMLHttpRequest();

      // fonction de récupération d'un scan complet
      function requestAllData() {
        request.open('GET', "/json/fast_scan"); // on crée la requête
        request.responseType = 'json'; // on spécifie qu'on attends du json
        request.send(); // on envoie la requête
        request.onload = function() {
          let response = request.response;
          console.log(response);
          createGraph(response); // on envoie le retour du scan à la fonction de création du graph
        }
      };

      console.log("lancement d'un scan complet");
      requestAllData();

      // ici commence le vis.js
      // fonction de génération du graph, prenant un scan complet en entrée :
      function createGraph(scan_data) {
        // liste des noeuds
        let nodes = new vis.DataSet([]);

        // ajout de la gateway :
        nodes.add([
          {id: "gateway", label: 'gateway ' + scan_data.local_data[2]},
        ]);

        // ajout des entités nmap :
        let i = 0;
        scan_data.scan.forEach(function(nodeAdd) {
          nodes.add([
            {id: i, label: nodeAdd.IP, os: nodeAdd.OS, mac: nodeAdd.mac},
          ]);
          i++;
        });

        // liste des chemins
        let edges = new vis.DataSet([]);

        // liaison de toutes les entité nmap avec la gateway :
        for(i; i >= 0; i--) {
          edges.add([
            { from: i, to: "gateway" },
          ]);
        }

        // créaction de l'objet graph
        let container = document.getElementById("mynetwork");
        let data = {
          nodes: nodes,
          edges: edges,
        };
        let options = {
          height: getHeigthWindows80() + "px",
        };
        let network = new vis.Network(container, data, options);
      }

      // get windows size 80% :
      function getHeigthWindows80() {
        let heigth = window.innerHeight;
        heigth = heigth - (heigth/5);
        return heigth.toString();
      }
    </script>
  </body>
</html>
